/* css reset */
* {
  margin: 0;
  padding: 0;
}

body {border: olive 2px solid;
  padding: 50px;
  color: brown;
  line-height: 2;
  letter-spacing: 1.5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  
}

blockquote { border: slateblue solid 2px;
  margin: 0 0 0 50px;
  color: teal;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  line-height:20px ;
  text-indent:50px ;
}

h1 {
  font-size: 6em;
}
h3 {border: tomato solid 2px;
  font-size: 3em;
  text-align: center;
  letter-spacing: -3px;
}
span { border: 2px solid black;
  text-decoration: line-through;
}

em {
  text-transform: capitalize;
}
strong{
    text-transform: uppercase;
}
a{
    color:green;
    text-decoration: none;
}

